.footer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.footer p{
  font: 300 14px/20px Helvetica;
}

.footer-address, .footer-navigation, .footer-contact, .footer-copyRight{
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.footer-address,.footer-copyRight{
  width: 268px;
}

.footer-navigation a{
  color: black;
  text-decoration: none;
  font: 700 14px/20px Helvetica;
}

.footer-navigation:hover a{
  cursor: pointer;
}

.footer-contact-icons{
  display: flex;
  gap: 16px;
}